<body>

<div class="top-panel">

    <a href="#" class="btn btn-logo">
        <span class="glyphicon glyphicon-globe"></span>
        <p class="logo-text"> Earth </p>
    </a>

    <span class="top-menu">

    <a href="#" class="btn-logo">
        <h4 id="home" class="menu-item"> Home </h4>
    </a>

    <a href="#" class="btn-logo">
        <h4 id="way" class="menu-item"> Way </h4>
    </a>

    <a href="#" class="btn-logo">
        <h4 id="hotels" class="menu-item"> Hotels </h4>
    </a>

    <a href="#" class="btn-logo">
        <h4 id="events" class="menu-item"> Events </h4>
    </a>

    <a href="#" class="btn-logo">
        <h4 id="login" class="menu-item"> Log in </h4>
    </a>

    </span>


</div>

<div class='image im2'>

    <div class='experiment'>

        <div class="box">

            <div class="box2">

                <div class="box-line">

                    <div class="types">


                        <!--<button type="button" id="return" class="btn btn-default btn-xs btn-circle "><i class="glyphicon glyphicon-ok"></i></button>-->
                        <label class="radio-trip"><input id="return" type="radio" name="optradio" checked> Return
                        </label>
                        <!--<label for="return" class="radio-trip"> Return </label>-->

                        <!--<button type="button" id="one-way" class="btn btn-default btn-xs "><i class="glyphicon glyphicon-ok"></i></button>-->
                        <label class="radio-trip"><input id="one-way" type="radio" name="optradio"> One way </label>
                        <!--<label for="one-way" class="radio-trip"> One way </label>-->

                        <!--<button type="button" id="multi" class="btn btn-default btn-xs "><i class="glyphicon glyphicon-ok"></i></button>-->
                        <!--<label class="radio-trip"><input id="multi" type="radio" name="optradio" > Multi city </label>-->
                        <!--<label for="multi" class="radio-trip"> Multi-city </label>-->

                    </div>

                    <div class="places">

                        <label for="from-input" class="from-label box-label"> From </label>
                        <input type="text" class="box-input form-control" id="from-input"
                               placeholder="Country, city or airport">

                        <label for="to-input" class="to-label box-label"> To </label>
                        <input type="text" class="box-input form-control" id="to-input"
                               placeholder="Country, city or airport">

                    </div>


                    <div class="dates">

                        <label for="there-input" class="there-label box-label"> There </label>
                        <input type="text" class="box-input form-control" id="there-input" placeholder="">

                        <label for="back-input" class="back-label box-label"> Back </label>
                        <input type="text" class="box-input form-control" id="back-input">

                    </div>

                </div>

                <div class="box-btn">

                    <button id="find" class="btn my-btn btn-find"> Find</button>


                    <script>
                        document.getElementById("find").addEventListener("click", function () {
                            alert('works');
                            var url = "https://partners.api.skyscanner.net/apiservices/browseroutes/v1.0/FR/eur/en-US/us/anywhere/anytime/anytime?apikey=" + apikey
//                            function getRequest(url, callback) {
//                                $.ajax({
//                                    url: url,
//                                    type: 'GET',
//                                    success: function(data){
//                                        callback(null, data);
//                                    },
//                                    fail: function() {
//                                        callback(new Error("Ajax Failed"));
//                                    }
//                                })
//                            }
                            var apikey = "prtl6749387986743898559646983194";
                            $.get("http://partners.api.skyscanner.net/apiservices/browseroutes/v1.0/FR/eur/en-US/us/anywhere/anytime/anytime?apikey=" + apikey, function(data,status){
                                alert("response" + data+" status "+status);
                            });
                            //           var url = "http://partners.api.skyscanner.net/apiservices/browseroutes/v1.0/FR/eur/en-US/us/anywhere/anytime/anytime?apikey=" + apikey;


                        });
                    </script>

                </div>

            </div>

        </div>

    </div>

</div>