<div class=" footer">

    <div class="footer-info">
        <!--logo-text-->
        <!--добавить можно лого чтоб был цвет и шрифт как на лого наверху -->
        <h2 class="footer-lg "> Our Domain <br> Goes Here </h2>

        <div class="footer-titles">
            <p id="about"> About & Contacts </p>
        </div>

        <div class="copyright"> © 2017</div>

    </div>

</div>


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--Own JavaScript -->
<script type="text/javascript" src="../../Frontend/js/main.js"></script>
