<div class="flag-KMA">
    <span class="title"><h4>PIZZA </h4>KMA</span><img src="assets/images/discount.svg">
</div>
<div class="discount-flag">
    <div class="discount-img"></div>
    <div class="discount-title">
        <span>ЦЬОГО ТИЖНЯ</span>
        <span>НА ВСЕ</span>
    </div>
    <div class="discount-price">
        -20%
    </div>
</div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!--GOOGLE MAPS -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB-TZ12vi38BRxcnXm83S16V3nRV6X7cJM"></script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>