<div class="top-panel">
    <div class="header-row">
        <div class="header-row-phone-number visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
            (044) 222 5 222
        </div>
        <div class="header-row-hours-of-work visible-lg-inline-block visible-md-inline-block">
            24 години/ 7 днів на тиждень
        </div>
        <div class="free-delivery visible-lg-inline-block">
            Безкоштовна доставка піци
        </div>
        <a class="btn btn-warning sign-in hidden-xs">Ввійти</a>
    </div>
    <div class="header-down">
        <div class="pizza-title visible-lg-inline-block visible-md-inline-block visible-sm-inline-block">
            Піца
        </div>
        <a class="btn btn-warning sign-in-xs visible-xs-inline-block">Ввійти</a>
    </div>
</div>