<div class="right-panel">
    <div class="top-part">
        <span class="order-title">
            Замовлення
        <span class="badge orange-count-orders">1</span>
        </span>
        <span class="clear-order-wrap clear-order">
            Очистити замовлення
        </span>
    </div>
    <div class="main-part" id="cart">
        <template>
            <div class="order">
                <img class="img-aside pizza-img" src="assets/images/pizza_7.jpg">
                <span class="order-pizza-name">Імпреза (Велика)</span>
                <div class="order-info">
                    <img class="size-img" src="assets/images/size-icon.svg">
                    <span class="size">40</span>
                    <img class="weight-img" src="assets/images/weight.svg">
                    <span class="weight">660</span>
                </div>
                <div class="price-order">
                    <span class="how-money">169</span>
                    <span class="minus btn btn-xs btn-danger button-circle">
                        <span class="sign">−</span>
                    </span>
                    <span class="order-counter">1</span>
                    <span class="plus btn btn-xs btn-success button-circle">
                       <span class="sign">+</span>
                    </span>
                    <span class="count-clear btn btn-xs btn-default button-circle">
                       <span class="sign">×</span>
                    </span>
                </div>
            </div>
        </template>
    </div>
    <div class="bottom-part">
        <span class="sum-order-title" style="display: inline;">
                    Сума замовлення
                </span>
        <span class="sum-order-number" style="display: block;">169</span>
        <div class="order-done-button">
            <button type="button" class="btn btn-warning btn-lg btn-block butt-do-order" id="return-to-list">
                Редагувати замовлення
            </button>
        </div>
    </div>
</div>